.object-animation {
  backface-visibility: hidden;
  position: absolute;
  text-indent: $indent;
  transform: translate3d(0,0,0);
}

// -----------------------------------------------------------------------------
// Slider elements
// -----------------------------------------------------------------------------

$transition-speed: .8s;

.object-animation-1 {
	@include opacity(1);
  @include single-transition($property: opacity, $ease: linear, $speed: $transition-speed);
  bottom: 0;
  right: 0;
  width: 90%;
  height: 90%;

  &.item-1 {
    @include retina("/assets/animations/animation-1-1@2x.png", cover, auto);
    background: url("/assets/animations/animation-1-1.png") no-repeat;
    background-size: 100%;

    @media only screen and (max-width: $american) {
      background-size: cover;
    }
  }

  &.item-2 {
    @include retina("/assets/animations/animation-1-2@2x.png", cover, auto);
    background: url("/assets/animations/animation-1-2.png") no-repeat;
    background-size: 100%;

    @media only screen and (max-width: $american) {
      background-size: cover;
    }
  }

  &.item-3 {
    @include retina("/assets/animations/animation-1-3@2x.png", cover, auto);
    background: url("/assets/animations/animation-1-3.png") no-repeat;
    background-size: 100%;

    @media only screen and (max-width: $american) {
      background-size: cover;
    }
  }

  &.item-4 {
    @include retina("/assets/animations/animation-1-4@2x.png", cover, auto);
    background: url("/assets/animations/animation-1-4.png") no-repeat;
    background-size: 100%;

    @media only screen and (max-width: $american) {
      background-size: cover;
    }
  }

  &.fade-out {
    @include opacity(0);
    transition: visibility 0s $transition-speed, opacity $transition-speed linear;
    visibility: hidden;
  }
}

// -----------------------------------------------------------------------------
// Girl animation
// -----------------------------------------------------------------------------
.object-animation-2 {
  @include opacity(0);
  bottom: 5%;
  height: 300px;
  right: 5%;
  transform: scale(0);
  transition: transform 0.5s cubic-bezier(0, 0, 0.18, 1.3), opacity 0.5s linear;
  width: 300px;

  &.active {
    @include opacity(1);
    transform: scale(1);

    @media only screen and (max-width: $grande) {
      @include opacity(1);
      transform: scale(.7);
    }
  }

  &.home {
    @include retina("/assets/animations/animation-2@2x.png", 300px, 300px);
    background: url("/assets/animations/animation-2.png") no-repeat;
    background-size: 300px 300px;
  }

  &.agent {
    @include retina("/assets/animations/animation-pro-2@2x.png", 300px, 300px);
    background: url("/assets/animations/animation-pro-2.png") no-repeat;
    background-size: 300px 300px;
  }

  @media only screen and (max-width: $tall) {
    @include opacity(1);
    transform: scale(.7);
    right: -20px;
  }
}
