// -----------------------------------------------------------------------------
// This file contains the configurations of the inputs that we use through the
// styles in the application
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// input common styles
// -----------------------------------------------------------------------------
.input {
  -webkit-appearance: none;
  @include single-transition();
  background: $white;
  border: $border-med solid $silver;
  border-radius: $global-radius;
  box-shadow: none;
  color: $black;
  display: inline-block;
  font-weight: 200;
  margin: 0;
  min-height: $touch-click-area;
  min-width: $touch-click-area;
  padding: $pad-half $pad;
  text-decoration: none;
  outline: none;

  &[disabled] {
    background: lighten($silver, 5%);
    cursor: $cursor-disabled;
  }

  &.white {
    background: $white;
  }

  &.with-line {
    border: 0;
    border-bottom: 2px solid;
    border-color: rgba($gray, .2);
  }

  &.no-border {
    border: 0;
  }

  @media only screen and (max-width: $tall) {
    margin-bottom: $space-half;
  }
}

.no-resize {
  resize: none;
}

.element-container {
  position: relative;

  > .fa {
    color: $gray;
    position: absolute;
    top: $space*.75;
    right: $space*3;
  }
}

// -----------------------------------------------------------------------------
// input placeholder styles
// -----------------------------------------------------------------------------
input[placeholder] {
  text-overflow: ellipsis;
}

::-moz-placeholder { // firefox 19+
  text-overflow: ellipsis;
}

input:-moz-placeholder {
  text-overflow: ellipsis;
}

// -----------------------------------------------------------------------------
// input with icon or button inside
// -----------------------------------------------------------------------------
.input-container {
  @include clearfix();
  min-height: $touch-click-area;
  position: relative;

  > .input,
  > .button {
    position: absolute;
  }

  .input {
    width: 100%;
  }

  .button {
    background: $aqua;
    border-color: $aqua;
    border-radius: 0 $global-radius $global-radius 0;
    color: $white;
    text-align: center;
    right: 0;

    .fa {
      margin: 0;
    }

    &:hover {
      color: rgba($white, .7);
    }
  }
}

// -----------------------------------------------------------------------------
// Checkboxes and radios
// -----------------------------------------------------------------------------

label {
  font-weight: 400;
}

.control {
  position: relative;
  display: block;
  padding-left: $pad*2.5;
  padding-right: $pad-half;
  color: $gray;
  cursor: pointer;
}
.control input {
  position: absolute;
  opacity: 0;
  z-index: -1; // Put the input behind the label so it doesn't overlay text
}
.control-indicator {
  position: absolute;
  top: $space-quarter;
  left: 0;
  display: block;
  width:  16px;
  height: 16px;
  font-size: 65%;
  color: $silver;
  text-align: center;
  background-color: $silver;
  background-size: 50% 50%;
  background-position: center center;
  background-repeat: no-repeat;
  user-select: none;
}

// -----------------------------------------------------------------------------
// Hover state
// -----------------------------------------------------------------------------
.control:hover .control-indicator {
  color: $white;
  background-color: #ccc;
}

// -----------------------------------------------------------------------------
// Focus
// -----------------------------------------------------------------------------
.control input:focus ~ .control-indicator {
  box-shadow: 0 0 0 .075rem $white, 0 0 0 .2rem $aqua;
}

// -----------------------------------------------------------------------------
// Checked state
// -----------------------------------------------------------------------------
.control input:checked ~ .control-indicator {
  color: $white;
  background-color: $aqua;
}

// -----------------------------------------------------------------------------
// Active
// -----------------------------------------------------------------------------
.control input:active ~ .control-indicator {
  color: $white;
  background-color: $aqua;
}

// -----------------------------------------------------------------------------
// Checkbox modifiers
// -----------------------------------------------------------------------------
.checkbox .control-indicator {
  border-radius: $pad-quarter;
}

.checkbox input:checked ~ .control-indicator {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgOCA4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA4IDgiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTYuNCwxTDUuNywxLjdMMi45LDQuNUwyLjEsMy43TDEuNCwzTDAsNC40bDAuNywwLjdsMS41LDEuNWwwLjcsMC43bDAuNy0wLjdsMy41LTMuNWwwLjctMC43TDYuNCwxTDYuNCwxeiINCgkvPg0KPC9zdmc+DQo=);
}

// Radio modifiers
.radio .control-indicator {
  border-radius: 50%;
}
.radio input:checked ~ .control-indicator {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgOCA4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA4IDgiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTQsMUMyLjMsMSwxLDIuMywxLDRzMS4zLDMsMywzczMtMS4zLDMtM1M1LjcsMSw0LDF6Ii8+DQo8L3N2Zz4NCg==);
}

// Alternately, use another character
.control-x input:checked ~ .control-indicator {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iOHB4IiBoZWlnaHQ9IjhweCIgdmlld0JveD0iMCAwIDggOCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgOCA4IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0xLjQsMEwwLDEuNGwwLjcsMC43bDEuOCwxLjhMMC43LDUuN0wwLDYuNGwxLjQsMS40bDAuNy0wLjdsMS44LTEuOGwxLjgsMS44bDAuNywwLjdsMS40LTEuNEw3LjEsNS43DQoJTDUuMywzLjlsMS44LTEuOGwwLjctMC43TDYuNCwwTDUuNywwLjdMMy45LDIuNUwyLjEsMC43QzIuMSwwLjcsMS40LDAsMS40LDB6Ii8+DQo8L3N2Zz4NCg==);
}
.control-dash input:checked ~ .control-indicator {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iOHB4IiBoZWlnaHQ9IjhweCIgdmlld0JveD0iMCAwIDggOCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgOCA4IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0wLDN2Mmg4VjNIMHoiLz4NCjwvc3ZnPg0K)
}


// -----------------------------------------------------------------------------
// Select
// -----------------------------------------------------------------------------

.select {
  position: relative;
  display: inline-block;
  color: $gray;

  select, button {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: $pad-half $pad*5 $pad-half $pad*1.5;
    line-height: 2;
    color: $gray;
    background-color: $white;
    border-radius: $global-radius;
    cursor: pointer;
    outline: 0;
    min-height: $touch-click-area;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
  }

  // ---------------------------------------------------------------------------
  // Dropdown arrow
  // ---------------------------------------------------------------------------
  .fa {
    border-radius: 0 $global-radius $global-radius 0;
    line-height: 2;
    min-height: $touch-click-area;
    padding: 6px 10px;
    position: absolute;
    right: 0;
    top: 0;
    pointer-events:none
  }

  &.primary{
    select {
      border: $border-med solid $silver;
    }
    .fa {
      border: $border-med solid $silver;
    }
  }

  &.secondary{
    select {
      border: $border-med solid $aqua;
      color: $aqua;
    }

    .fa {
      color: $aqua;
    }
  }

  &.tertiary{
    select {
      border: 0;
      color: $aqua;
    }

    .fa {
      color: $aqua;
    }
  }
}

// -----------------------------------------------------------------------------
// Undo the Firefox inner focus ring
// -----------------------------------------------------------------------------
.select select:focus:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 $black;
}

// -----------------------------------------------------------------------------
// Hover state
// -----------------------------------------------------------------------------
.select select:hover {
  background-color: lighten($silver, 10%);
}

// -----------------------------------------------------------------------------
// Active/open
// -----------------------------------------------------------------------------
.select select:active {
  color: $white;
  background-color: #0074d9;
}

// -----------------------------------------------------------------------------
// Hide the arrow in IE10 and up
// -----------------------------------------------------------------------------
.select select::-ms-expand {
  display: none;
}

// -----------------------------------------------------------------------------
// Media query to target Firefox only
@-moz-document url-prefix() {
  // Firefox hack to hide the arrow
  .select select {
    text-indent: 0.01px;
    text-overflow: '';
    padding-right: $pad;
  }

  // <option> elements inherit styles from <select>, so reset them.
  .select option {
    background-color: white;
  }
}

// -----------------------------------------------------------------------------
// IE9 hack to hide the arrow
// -----------------------------------------------------------------------------
@media screen and (min-width:0\0) {
  .select select {
    z-index: 1;
    padding: $pad-half $pad-half $pad-half $pad;
  }
  .select:after {
    z-index: 5;
  }
  .select:before {
    position: absolute;
    top: 0;
    right: $pad;
    bottom: 0;
    z-index: 2;
    content: "";
    display: block;
    width: $pad-half;
    background-color: $silver;
  }
  .select select:hover,
  .select select:focus,
  .select select:active {
    color: $gray;
    background-color: $silver;
  }
}



// -----------------------------------------------------------------------------
// file
// -----------------------------------------------------------------------------
.file {
  position: relative;
  display: inline-block;
  cursor: pointer;
  height: $touch-click-area;
}
.file input {
  @include opacity(0);
  min-width: 14rem;
  margin: 0;
}
.file-custom {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  height: $touch-click-area;
  padding: $pad-half $pad;
  line-height: 2;
  color: $gray;
  background-color: $white;
  border: $border-med solid $silver;
  border-radius: $global-radius;

  user-select: none;
}
.file-custom::after {
  content: "Choose file...";
}
.file-custom::before {
  position: absolute;
  right: -2px;
  bottom: -2px;
  z-index: 6;
  display: block;
  content: "Browse";
  height: $touch-click-area;
  padding: $pad-half $pad;
  line-height: 2;
  color: $white;
  background-color: $aqua;
  border: $border-med solid $silver;
  border-radius: 0 $global-radius $global-radius 0;
}

// -----------------------------------------------------------------------------
// Focus
// -----------------------------------------------------------------------------
.file input:focus ~ .file-custom {

}

// -----------------------------------------------------------------------------
// Control layouts
// -----------------------------------------------------------------------------

.controls-stacked {
  margin: $pad 0;
}
.controls-stacked .control,
.controls-stacked .progress {
  display: block;
}
.controls-stacked .control + .control,
.controls-stacked .progress + .progress {
  margin-top: $pad-half;
}

.controls-inline {
  margin: $pad 0;
}
.controls-inline .control {
  display: inline-block;
  height: $pad;
}
.controls-inline .control + .control {
  margin-left: $pad;
}
