// -----------------------------------------------------------------------------
// Borders
// -----------------------------------------------------------------------------
  $border-small:                  1px;
  $border-med:                    2px;
  $border-thick:                  5px;

  $global-border:                 $border-med;
  $global-radius:                 $border-thick;
