// -----------------------------------------------------------------------------
// Little headers of the pages
// -----------------------------------------------------------------------------
// This file contains the following styles:
//
//   1. Main titles.
//   2. Main sub-titles
// -----------------------------------------------------------------------------
.main-title {
  color: $red;
  display: block;
  font-weight: 300;
  font-size: emCalc(38px);
  margin: $space-double;
  text-transform: capitalize;
  text-align: left;
}

.main-title + .secondary-nav,
.main-title + .tertiary-nav {
  margin-left: $space;
  margin-bottom: -$space-half;
}

// -----------------------------------------------------------------------------
// General style
// -----------------------------------------------------------------------------
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
p,
a {
  font-family: $primary-font;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  -webkit-font-smoothing: $font-smoothing;
  font-weight: 200;
  line-height: 1.25;
}

// -----------------------------------------------------------------------------
// Common h1/h2
// -----------------------------------------------------------------------------
.h1,
.h2 {
  font-size: emCalc(50px);

  .jumbotron &{
    margin: 0 auto;
  }
}

// -----------------------------------------------------------------------------
// Heading 1
// -----------------------------------------------------------------------------
.h1 {
  .jumbotron & {
    font-size: emCalc(48px);

    &.special {
      font-weight: 600;
    }

    &.margin-top {
      font-size: emCalc(44px);
      margin-top: $space*8;
      margin-bottom: $space*3;
    }

    @media only screen and (max-width: $grande) {
      font-size: emCalc(26px);
    }
  }
}

// -----------------------------------------------------------------------------
// Heading 2
// -----------------------------------------------------------------------------
.h2 {
  font-size: emCalc(44px);

  .jumbotron & {
    font-size: emCalc(32px);

    @media only screen and (max-width: $tall) {
      font-size: emCalc(22px);
    }
  }
}

// -----------------------------------------------------------------------------
// Heading 3
// -----------------------------------------------------------------------------
.h3 {
  font-size: emCalc(32px);
}

// -----------------------------------------------------------------------------
// Heading 4
// -----------------------------------------------------------------------------
.h4 {
  font-size: emCalc(24px);
}

// -----------------------------------------------------------------------------
// Heading 5
// -----------------------------------------------------------------------------
.h5 {
  font-size: emCalc(20px);
  font-weight: 400;
}

// -----------------------------------------------------------------------------
// Heading 6
// -----------------------------------------------------------------------------
.h6 {
  font-size: emCalc(14px);
  font-weight: 400;
  text-transform: uppercase;
}

// -----------------------------------------------------------------------------
// Title modifiers
// -----------------------------------------------------------------------------
.title__opaque {
  @include opacity(.75);
}

.title__oblique {
  font-style: oblique;
}

.title__bold {
  font-weight: bold;
}

.title__colored-text {
  > span {
    color: $aqua;
  }
}

// -----------------------------------------------------------------------------
// Selection styles
// -----------------------------------------------------------------------------
::selection {
  background: $midnight; // Safari, chrome
  color: $white;
}
::-moz-selection {
  background: $midnight; // Firefox
  color: $white;
}
